h1{
    font-size:114px;
    background-image: url("https://thumbs.dreamstime.com/b/shinkansen-bullet-train-tohoku-japan-mar-runs-countryside-akita-large-prefecture-sea-coast-93730432.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    Padding: 20px;
}
body{
    background-color: black;
}
.title{
    text-align: center;
    min-height:250px;
    /* transform: translate(-50%, -50%); */
}
.table{
    border:3px solid black;
    padding:20px;
    background-color:white;
}
.form{
    background:lightgray;
    padding:20px
}
.row{
    justify-content: space-evenly;
}
.topRow{
    font-weight: bolder;
    font-size:24px;
}
.row + .row{
    border-top: 1px solid black;
}
button{
    margin-bottom:20px;
}
.formHead{
    background-color:darkgray;
    max-width: 220px;
}
div + input{
    margin-bottom:20px;
}